@font-face {
	font-family: "Segoe UI - Semilight";
	src: url('./fonts/Segoe\ ui\ semilight.eot');
	src: local('☺'), url('fonts/Segoe ui semilight.woff') format('woff'), url('fonts/Segoe ui semilight.ttf') format('truetype'), url('fonts/Segoe ui semilight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI - Semibold";
	src: url('./fonts/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI-SemiBold.woff') format('woff'),
		url('SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI.woff') format('woff'),
		url('SegoeUI.ttf') format('truetype'); 
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI-Bold.woff') format('woff'),
		url('SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}