/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

/*--------------------*/
@font-face {
	font-family: "Segoe UI - Semilight";
	src: url('./fonts/Segoe\ ui\ semilight.eot');
	src: local('☺'), url('fonts/Segoe ui semilight.woff') format('woff'), url('fonts/Segoe ui semilight.ttf') format('truetype'), url('fonts/Segoe ui semilight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Segoe UI - Semibold";
	src: url('./fonts/SegoeUI-SemiBold.eot');
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
		url('SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI-SemiBold.woff') format('woff'),
		url('SegoeUI-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI.eot');
	src: local('Segoe UI'), local('SegoeUI'),
		url('SegoeUI.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI.woff') format('woff'),
		url('SegoeUI.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: url('./fonts/SegoeUI-Bold.eot');
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
		url('SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
		url('SegoeUI-Bold.woff') format('woff'),
		url('SegoeUI-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

h2{
    color: #3f4350;
font-family: "Segoe UI";
font-size: 24px;
font-weight: 400;
padding-left: 14px;
}
h3{
    color: #424242;
    font-family: "Segoe UI - Semibold";
    font-size: 18px;
    font-weight: 400;
}
h4{
    color: #7e7ab6;
    font-family: "Segoe UI - Semibold";
    font-size: 14px;
    font-weight: 400;
}
.options h4{
    color: #ffffff;
    margin-left: 5px;
}



h5{
    color: #3f4350;
    font-family: "Segoe UI - Semilight";
    font-size: 14px;
}


 p{
    width: 34px;
    height: 31px;
    border: 2px solid #e55044;
    border-radius: 50%;
    color: #e55044;
    font-family: "Segoe UI - Semibold";
    font-size: 16px;
    text-align: center;
    padding-top: 3px;
}

h6{
    opacity: 0.32;
    color: #3f4350;
    font-family: "Segoe UI";
    font-size: 14px;
}

.img-1{}
.img-2{width: 55px;
    height: 55px;}
.img-3{}















.item{
    display: flex;
    justify-content: space-between;
    border:1px solid;
    width: 730px;
    height: 73px;
    padding-left: 14px;
    padding-right: 28px;
}

.left{
    display: flex;
    align-items: center;
}
.right{
    display: flex;
    align-items:center;
}

.item__number{
    padding-left: 66px;
    height: 56px;
    color: #424242;
}

.item__number h4{
    color: #424242;
    padding-left: 14px;
}

.item__icon{
    padding-left: 14px;
    height: 64px;
}
.item__icon h3{
    padding-left: 18px;

}

.item__students{
    justify-content: start;
    width: 338px;
}

.item__students .right{
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 15px;
}






.list{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    max-width: 612px;
    height: 194px;
    flex-wrap: wrap;
   
}
li{
    color: #424242;
    font-family: "Segoe UI";
    font-size: 14px;
    line-height: 31px;
}
li::before{
    content: url(./img/2arrow\ \(1\).png);
    padding-right: 17px;
}



span{
    color: #5cb85c;
    font-family: "Segoe UI";
    font-weight: 700;
}






.options{
    width: 318px;
    height: 207px;
    
    
}

.option{
    display: flex;
    justify-content: center;
    align-items:center;
   
    border-radius: 19px;
    height: 37px;
    

}

.option-play {
    width: 297px;
    background-color: #5cb85c;
}



.options-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 24px;
}
.option-edit {
    width: 123px;
    background-color: #7e7ab6;
}
.option-key {
    width: 183px;
   
    background-color: #7e7ab6;
}
.option-settings {
width: 206px;
margin-top: 11px;
background-color: #7e7ab6;

}
.option-support {
    width: 119px;
    background-color: #3f4350;
    margin-top: 24px;
}















